
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Books E-commerce</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/product']" routerLinkActive="router-link-active" >Home</a>
    </li>
  </ul>
  <div class="col-10 text-right color-white" (click)="navigateToCart()">
    <i class="fa fa-cart-plus fa-2x" aria-hidden="true"><span class="count">{{count}}</span></i>
  </div>
</nav>


<router-outlet></router-outlet>